.NavBar {
    background-color: #2274A5 !important;
    font-family: 'Montserrat', sans-serif;
}

.NavBar:after {
    position: absolute;
    content: '';
    background-color: #E7DFC6;
    bottom: 0px;
    left: 0px;
    height: 7px;
    width: 100%;
}

.NavBar a{
    position: relative;
    color: white;
}
.NavBar a:hover {
    color: white;
}
.NavBar a:before {
    position: absolute;
    display: block;
    content: "";
    left: 0px;
    bottom: 5px;
    width: 0%;
    height: 2px;
    background-color: #E7DFC6 ;
    transition: all 0.3s;
}
.NavBar a:hover:before{
    width: 100%;
}
.BrandLogo {
    font-size: 20px;
    font-weight: bold;
}
.NavigationItem {
    border: 2px 2px black;
}

.NavigationDropDownItem:hover {
    background-color: #2274A5 !important; 
    color: white !important;
}